/* reset */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


img{
    max-width: 100%;
    
}
ul{
    list-style: none;
    column-gap: 30px;
}

/* header */

header{
    background-color: #255ee9;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}


.cont-header{
    display: flex;
    justify-content: center;
    width: 80%;
    /* background-color: #daa520; */
    /* aggiungi */
    /* max-width: 1110px; */
    /* margin: 0 auto; */
    align-items: center;
    
}

.logo, .login{
    width: 25%;
     
}

.input{
    border-radius: 12px;
    padding: 7px 12px;
    border: none;
    background-color: white;
    font-size: 12px;
}
.link{
    width: 50%;
    display: flex;
    justify-content: center;
}
ul,li{
    display: flex;
      
}
a{
    text-decoration: none;
    color: white;
    padding-top: 5px;
    
}
.login{
    text-align: right;
}

/* banner main */
.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 50px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.banner-2{
    margin-top: 100px;
    width: 60%;
    /* height: 200px; */
    text-align: center;
    color: white;

}

.primo-titolo{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

p{
    font-size: 0.8rem;
    padding-bottom: 5px;
    margin-top: 20px;
    line-height: 22px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.input-mac{
    border-radius: 12px;
    padding: 7px 12px;
    border: none;
    background-color: black;
    font-size: 12px;
    color: white;
}
.input-2{
    padding: 10px 15px;
    border-radius: 16px;
    font-size: 19px;
}



/* main */

.cont-sm{
    background-color: white;
    /* height: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.cont-small{
    /* background-color: #ffc0cb; */
    width:30%;
    /* padding-left: 2px; */
    display: flax;
    justify-content: center;
    align-items: center;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* height: 250px; */
    /* border: 1px dashed black; */
    padding-left: 5px;
    padding-right: 45px;
    padding-bottom: 25px;
    
}

.s-t-q-titolo{
    /* display: flax;
    justify-content: center;
    align-items: center; */
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 5px;


}

.cont-big{
    /* background-color:#1e90ff; */
    width: 50%;
    /* height: 250px ; */
    /* border: 1px dashed black; */
    background-size: cover;
    display: flex;
    justify-content: right;
}
.grigio{
    background-color: #d3d3d3;
}

.cont-superbig{
    background-color:#f6f6f6;
    /* height: 400px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.superbig{
    /* background-color: #228b22; */
    /* height: 375px; */
    /* border: 1px dashed black; */
    width: 80%;
    text-align: center;

}
s.img{
    background-size: cover;
}

.star{
    width: 40%; 
    margin: 0 auto;
}
h3{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.input-2{
    
        border-radius: 12px;
        padding: 7px 12px;
        border: none;
        background-color: #7289da;
        font-size: 12px;
        color: white;
        margin: 25px 0;
}

/* footer */
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.cont-footer{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 350px;
    margin-top: 15px;
}
.cont-ft1{
    background-color: #f08080;
    width: 50%;
    border: 1px dashed black;

}
.cont-ft2{
    background-color: #20b2aa;
    width: 25%;
    border: 1px dashed white;
}

.footer-fine{
    display: flex;
    justify-content: space-between;;
    width: 80%;
    background-color: #7fffd4;
    margin-top: 5px;
    padding: 7px 0;
}

.footer-logo{
    background-color: #f08080;
    border: 1px dashed black;
    padding: 2px;
    font-size: 10px;
}

.footer-Bottone{
    background-color: #f08080;
    border: 1px dashed black;
    padding: 2px;
    font-size: 10px;
}
hr{
    border: 1px solid white;
    width: 100%;
}