/* reset */
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
/* stesse proprietà */
.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* immagini */
img{
    max-width: 100%; 
}

.wave{
    color: #d3d3d3;
    width: 100%;
    margin-bottom: -4px;
    filter:opacity(3%);
    display: inline-block;
}

.wave-2{
    transform: rotate(180deg);
}

/* liste */

ul,li{
    display: flex;  
}

ul{
    list-style: none;
    column-gap: 30px;
}

.lista-header{
    text-decoration: none;
    color: white;
    padding-top: 5px;
    
}

/* header */

header{
    background-color: #255ee9;
    height: 50px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}


.cont-header{
    width: 80%;
    max-width: 1110px;
}

.logo, .login{
    width: 25%;
     
}

/* input */
.input{
    border-radius: 12px;
    padding: 7px 12px;
    border: none;
    background-color: white;
    font-size: 12px;
}

.input-mac{
    
    padding: 7px 12px;
    border: none;
    background-color: black;
    font-size: 12px;
    color: white;
}
.input-2{
    padding: 7px 15px;
    
}
.input-3{
    
    
    padding: 7px 12px;
    border: none;
    background-color: #7289da;
    font-size: 12px;
    color: white;
    margin: 25px 0;
}


.link{
    width: 50%;
    display: flex;
    justify-content: center;
}


.login{
    text-align: right;
}

/* banner main */
.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 50px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.banner-2{
    margin-top: 100px;
    width: 60%;
    text-align: center;
    color: white;

}

.primo-titolo{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

p{
    font-size: 0.8rem;
    padding-bottom: 5px;
    margin-top: 20px;
    line-height: 22px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* main */

.cont-sm{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.cont-small{
    width:30%;
    display: flax;
    justify-content: center;
    align-items: center;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 5px;
    padding-right: 45px;
    padding-bottom: 25px;
    
}


.s-t-q-titolo{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: left;
    padding-bottom: 5px;


}

.cont-big{
    width: 50%;
    background-size: cover;
    display: flex;
    justify-content: right;
}
.grigio{
    background-color: #f6f6f6;
}

.cont-superbig{
    background-color:#f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.superbig{
    width: 80%;
    text-align: center;

}

.star{
    width: 40%; 
    margin: 0 auto;
}
h3{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}


/* footer */
footer{
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.cont-footer{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 15px;
    font-size: 12px;
}
.cont-ft1{
    width: 50%;
    padding: 20px 30px;
    color: white;

}

.img-ita{
    width: 15px;
}

.footer-titolo{
   font-size: 18px;
   margin-bottom: 10px; 
   color: #7289da;
}

.freccia{
    padding-bottom: 10px;
}

.simboli{
    margin-top: 10px;
}

.fa-brands{
    margin-right: 7px;
    
}

.cont-ft2{
    width: 25%;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    color: white;
    font-size: 12px;
    padding: 10px 0;
}

.titolo-liste{
    color:#7289da;
}

.footer-fine{
    display: flex;
    justify-content: space-between;;
    width: 80%;
    margin-top: 5px;
    padding: 7px 0;
    border-top: 2px solid #7289da;
    padding-bottom: 50px;
}

.footer-logo{
    width: 30%;
}

.input-footer{
    background-color: #7289da; 
    padding: 5px 12px;
}
